# Lego Analysis

Task is to analyze data about Lego Bricks. Questions to answer are below. \
Data from https://rebrickable.com/downloads/
## ðŸ’ª Challenge
Create a report to summarize your findings. Include:

1. What is the average number of Lego sets released per year?
2. What is the average number of Lego parts per year?
3. Create a visualization for item 2.
4. What are the 5 most popular colors used in Lego parts?
5. [Optional] What proportion of Lego parts are transparent?
6. [Optional] What are the 5 rarest lego bricks?
7. Summarize your findings.

First things first -> load the data.

In [1]:
# import necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Prepare colors_table

In [2]:
colors_table = pd.read_csv('data\colors.csv.gz')
print(colors_table.head())
print('shape:', colors_table.shape)
print('unique names:', colors_table['name'].nunique())

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f
shape: (217, 4)
unique names: 217

In [3]:
colors_table['is_trans_2'] = colors_table['is_trans'] == 't'
colors_table.drop('is_trans', axis='columns', inplace=True)
colors_table.rename(columns={'is_trans_2': 'is_trans'}, inplace=True)
colors_table.head()

   id            name     rgb  is_trans
0  -1       [Unknown]  0033B2     False
1   0           Black  05131D     False
2   1            Blue  0055BF     False
3   2           Green  237841     False
4   3  Dark Turquoise  008F9B     False

In [4]:
print('unique names:', colors_table['is_trans'].unique())

unique names: [False  True]

In [5]:
colors_table.head()

   id            name     rgb  is_trans
0  -1       [Unknown]  0033B2     False
1   0           Black  05131D     False
2   1            Blue  0055BF     False
3   2           Green  237841     False
4   3  Dark Turquoise  008F9B     False

In [6]:
colors_table[colors_table['is_trans']]

       id                              name     rgb  is_trans
31     32               Trans-Black IR Lens  635F52      True
32     33                   Trans-Dark Blue  0020A0      True
33     34                       Trans-Green  84B68D      True
34     35                Trans-Bright Green  D9E4A7      True
35     36                         Trans-Red  C91A09      True
36     40                       Trans-Black  635F52      True
37     41                  Trans-Light Blue  AEEFEC      True
38     42                  Trans-Neon Green  F8F184      True
39     43                Trans-Very Lt Blue  C1DFF0      True
40     45                   Trans-Dark Pink  DF6695      True
41     46                      Trans-Yellow  F5CD2F      True
42     47                       Trans-Clear  FCFCFC      True
43     52                      Trans-Purple  A5A5CB      True
44     54                 Trans-Neon Yellow  DAB000      True
45     57                 Trans-Neon Orange  FF800D      True
74    114           Glitter Trans-Dark Pink  DF6695      True
76    117               Glitter Trans-Clear  FFFFFF      True
80    129              Glitter Trans-Purple  A5A5CB      True
87    143                 Trans-Medium Blue  CFE2F7      True
94    182                      Trans-Orange  F08F1C      True
100   230                        Trans-Pink  E4ADC8      True
102   236                Trans-Light Purple  96709F      True
105   294                Glow In Dark Trans  BDC6AD      True
128  1002          Glitter Trans-Neon Green  C0F500      True
129  1003          Glitter Trans-Light Blue  68BCC5      True
130  1004      Trans-Flame Yellowish Orange  FCB76D      True
131  1005                 Trans-Fire Yellow  FBE890      True
132  1006            Trans-Light Royal Blue  B4D4F7      True
178  1052              Glitter Trans-Orange  F08F1C      True
179  1053                   Trans-Blue Opal  68BCC5      True
180  1054  Trans-Medium Reddish Violet Opal  CE1D9B      True
181  1055                  Trans-Clear Opal  FCFCFC      True
182  1056                  Trans-Brown Opal  583927      True
183  1057          Trans-Light Bright Green  C9E788      True
184  1058                 Trans-Light Green  94E5AB      True
185  1059                 Trans-Purple Opal  8320B7      True
186  1060                  Trans-Green Opal  84B68D      True
187  1061              Trans-Dark Blue Opal  0020A0      True

In [7]:
colors_table.tail()

       id                  name     rgb  is_trans
212  1086            Pearl Lime  6A7944     False
213  1087            Duplo Pink  FF879C     False
214  1088          Medium Brown  755945     False
215  1089              Warm Tan  CCA373     False
216  9999  [No Color/Any Color]  05131D     False

Prepare elements

In [8]:
elements_table = pd.read_csv('data\elements.csv.gz')
print(elements_table.head())
print('shape:', elements_table.shape)

   element_id  part_num  color_id
0     6300211  67906c01        14
1     4566309      2564         0
2     4275423     53657      1004
3     6194308     92926        71
4     6229123     26561         4
shape: (77832, 3)

In [9]:
elements_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77832 entries, 0 to 77831
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   element_id  77832 non-null  int64
 1   part_num    77832 non-null  object
 2   color_id    77832 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.8+ MB

Prepare inventories - do not know if it will be needed

In [10]:
inventories_table = pd.read_csv('data\inventories.csv.gz')
print(inventories_table.head())
print('shape:', inventories_table.shape)

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1
shape: (35412, 3)